<!doctype html>
{%extends 'portfolio/base.html'%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{%block body%}
<h2>About Me:</h2>
<h3>welcome my name is Vernon brighton and i Attend Weber State University. I am a computer science major and a member of the Us Airforce </h3>

{%endblock%}
</body>
</html>